@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.5 Pacifico, Merriweather;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #cb8ae5;
}

.candy1 {
  width: 10%;
  float: left;
}

.candy {
  width: 10%;
  float: right;
}

.chocolate {

  display: inline-block;
  padding-bottom: .5rem;
  width: 100%;
}

.candy2 {
  display: block;
  padding-bottom: .5rem;
}

.gift-ideas {
  display: block;
  padding-bottom: .5rem;
}

img {
  width: 100%;
  display: block;

}

.img1 {
  width: 30%;
  display: inline-block;
}

.img2 {
  width: 30%;
  display: inline-block;
}

.img3 {
  width: 30%;
  display: inline-block;
}

.hex {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

header {
  background-color: pink;
  overflow: hidden;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;

}

nav li {
  text-align: center;
  display: inline-block;

}

nav a {
  color: #fff;
  font-family: serif;
  font-size: 1.5rem;
  text-decoration: none;
  border: 1px solid #666;
  padding: .5rem;
  display: inline-block;
  border-radius: 4px;
  background-color: #6c8fe0;

}

nav a:hover {
  background-color: #000;

}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
}

.p1 {
  font-size: 2rem;
  background-color: rgba(203, 138, 229, .45);
  padding: 1rem;
  margin: 0;
  position: absolute;
  color: #000;
  font-family: Merriweather;

}

.p2 {
  text-align: center;
}

.btn {
  background-color: #6c8fe0;
  border-radius: 5px;
  text-decoration: none;
  border: 3px solid #333;
  color: #fff;
  padding: .5em .1em;
  text-align: center;
  margin: 3rem;
  font-family: Merriweather;
}

.btn-big {
  font-size: 2rem;
  display: block;
}

.btn-2 {
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 8px;
  text-align: center;
  padding: .5rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

h2 {

  text-align: center;
  color: #000;
  font-size: 1.5rem;
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none;
  display: block;
  background-color: pink;
  margin: 0;
  padding: 2rem 0;
}

p {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  background-color: pink;
}

figcaption {
  text-align: center;
  font-family: Merriweather;
}

.last {
  width: 40%;
  padding: 0;
  margin: 0;
}

.aboutus {
  text-align: center;
  padding: 1em 0;
}

.abouttxt {
  width: 60%;
  float: left;
  text-align: center;
  overflow: hidden;
}

.aboutimg {
  width: 40%;
  float: right;

}

.about {
  padding-top: 1rem;
  padding-right: 1rem;
}

h3 {
  text-align: center;
  margin: 0;
  padding-bottom: .5rem;
  background-color: #6c8fe0;
  border-bottom: #000 2px solid;
}

.p3 {
  border-bottom: #000 2px solid;
  font-family: Merriweather;
  font-weight: bolder;
}

footer {
  text-align: center;
  padding: 1rem;
  clear: both;
  background-color: #6c8fe0;
  color: #000;
  font-family: serif;
}

@media only screen and (min-width: 25em) {

  .p1 {

    width: 100%;
  }

  .p2 {
    text-align: center;
  }

  nav li {
    display: inline-block;
    text-align: center;
  }

  .img1 {
    padding: 0;
  }

  .abouttxt {
    border: #000 3px solid;
    margin: 1rem;
    padding: 0;
    width: 40%;
    vertical-align: middle;
  }

  .aboutimg {
    width: 40%;
    vertical-align: middle;
    padding-bottom: 1rem;
    padding-top: 0;
  }

  p {
    padding: 0;
  }
}

@media only screen and (min-width: 38em) {

  h1 {
    text-align: center;
    font-size: 3.5rem;
  }

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .abouttxt {
    border: #000 3px solid;
    margin: 1rem;
    width: 50%;
    vertical-align: middle;
  }

  .aboutimg {
    width: 40%;
    vertical-align: middle;
    margin-bottom: 1rem;
  }

  .about {
    padding-bottom: 1rem;
  }

  p {
    display: block;
    padding-top: 1rem;

  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {

    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  nav {
    display: inline-block;
  }

  h1 {
    margin-top: 0;
    margin-right: 1rem;
    text-align: center;
  }

  .p1 {
    text-align: center;
    width: 100%;
  }

  .aboutimg {
    width: 35%;
    vertical-align: middle;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    padding-top: 0;
  }

  .abouttxt {
    border: #000 3px solid;
    width: 50%;
    vertical-align: middle;
    margin-left: 3rem;
  }

  .about {
    padding-top: 0;
  }

  p {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.6;

  }

  h1 {
    text-align: center;
  }
}
